html {
    height: 100%;
}

body {
    height: inherit;
    background-image: url("../img/earth.jpg");
}

h1, h2, small {
    color: white;
}

h1 {
    padding: 2%;
}

#link-form {
    padding: 10%;
}

.form-control:focus {
    color: #fff;
    background-color: transparent;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}

.form-control {
    color: #e4e4e4;
}

#particles-js {
    height: 50%;
    width: 100%;
    position: absolute;
}

::placeholder {
    color:    #fff !important;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=url]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
    box-shadow: inset 0 -2px 0 #ffffff;
}
